body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbJ5ea4n7kYbGrwDw64IWzvjP-K8nEFiAyyrtRulfcdPtaugkG&s");
    text-align:center;
    background-size: cover;
    COLOR:BLACK ;
}
table, th, td {
    border: 3px solid yellow;
    margin-top:100px;
  }

h1{
font-family: 'Courier New', Courier, monospace;

}